doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Checkers
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/grids-responsive-min.css')
    link(rel='stylesheet', href='./css/app.css')
  body

    table
      tbody#board
        - for(var i=0; i < 8; i++)
          tr
            - for(var j=0; j < 8; j++)
              if((i+j) % 2 === 1)
                td.valid(data-y=i, data-x=j)
                  .flipper
                    .front
                    .back
              else
                td.invalid(data-y=i, data-x=j)
                  .flipper
                    .front
                    .back

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
